.containerNumberOfFruits {
    border-radius: 50px;
    background-color: white;
    display: block;
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 12px;
    width: 25px; 
    height: 25px;
}

.digitNumberOfFruits {
    text-align: center;
    color: black;
}