.amountSelector {
    display: flex;
    justify-content: space-around;
    border: black solid 1px;
    width: 100px;
    margin-left: 100px;
    padding: 10px;
}

.plusMinusButton {
    cursor: pointer;
    border: none;
    background: white;
    font-size: 1em;
    width: 25px;
    height: 25px;
}