/*index and common parts*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Salsa', cursive; 
}

header {
    background: linear-gradient(to right, rgb(9, 134, 11), rgb(255, 255, 0));
    padding: 0px;
}

#ul-header {
    float: right;
}

ul {
    list-style-type: none;
}

#shopping-cart-logo {
    padding-top: 30px;
    padding-right: 30px;
}

#containerNumberOfFruits {
    border-radius: 50px;
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 12px;
    width: 25px; 
    height: 25px;
}

#digitNumberOfFruits {
    text-align: center;
    color: black;
}

#logo {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
}

#search-field {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

input {
    padding: 10px;
    border-radius: 10px;
}

input::placeholder {
    font-family: 'Salsa', cursive; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

#articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    margin-bottom: 250px;
}

.item {
    margin: 40px;
    text-align: center;
    display: list-item;
}

#containerNoSearchResult {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 620px;
    display: none;
    justify-content: center;
}

.fruitImage {
    height: 300px;
}

li {
   font-size: 1.4em;
}

.amountSelector {
    display: flex;
    justify-content: space-around;
    border: black solid 1px;
    width: 100px;
    margin-left: 100px;
    padding: 10px;
}

.plusMinusButton {
    cursor: pointer;
    border: none;
    background: white;
    font-size: 1em;
    width: 25px;
    height: 25px;
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    right: 60px;
    top: 60px;
    width: 175px; 
    height: 120px; 
    overflow: auto; 
    background: rgb(255, 255, 204);
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 7px 5px 5px rgb(136, 136, 136);
}

.modalContent {
    text-align: center;
    color: black;
    padding-top: 40px;
}

footer {
    background: linear-gradient(to right, rgb(9, 134, 11), rgb(255, 255, 0));
    padding: 30px;
    text-align: center;
}

#ul-footer li {
    margin: 10px;  
}

a {
    text-decoration: none;
    color: black;
}

.footerPages {
    height: 800px;
    text-align: center;
    padding-top: 40px;
}


/*index2*/

.containerCheckoutCards {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.checkoutBackground {
    background: rgb(255, 255, 204);
    width: 50%;
    text-align: center;
    padding: 40px;
    color: black;
}

#redAppleCard {
    display: none;
    margin-bottom: 20px;
}

#greenAppleCard {
    display: none;
    margin-bottom: 20px;
}

#orangeCard {
    display: none;
    margin-bottom: 20px;
}

#bananaCard {
    display: none;
    margin-bottom: 20px;
}

#grapesCard {
    display: none;
    margin-bottom: 20px;
}

#honeydewMelonCard {
    display: none;
    margin-bottom: 20px;
}

#watermelonCard {
    display: none;
    margin-bottom: 20px;
}

#lemonCard {
    display: none;
    margin-bottom: 20px;
}

#mangoCard {
    display: none;
    margin-bottom: 20px;
}

#pomegranateCard {
    display: none;
    margin-bottom: 20px;
}

.fruitCardInCheckout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
}

.amountSelectorInCheckout {
    display: flex;
    justify-content: space-around;
    width: 100px;
    border: black solid 1px;
}

.plusMinusButtonInCheckout {
    background: rgb(255, 255, 204);
    border: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.displayCount {
    display: flex;
}

#checkoutButton {
    background: white;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}