.header {
    background: linear-gradient(to right, rgb(9, 134, 11), rgb(255, 255, 0));
    padding: 0px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
}